body{
background-color:#F0F1F0 ;
}
table{
    width: 100vh;
}
table,td,th{
border: 1px solid blue;
border-collapse: collapse;
}

thead th{
     background-color: antiquewhite;
     text-transform: uppercase;

}

tbody tr:hover{
    background-color: beige;
}

tbody tr :first-child{
    text-align: right;
}


caption{
    caption-side: bottom;
}
